<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	{% block title %}
      {% endblock %}
    	<link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css">
    	<style type="text/css">
      		body {
        		padding-top: 60px;
        		padding-bottom: 40px;
      		}
    	</style>
    	<link href="/static/css/bootstrap-responsive.css" rel="stylesheet" type="text/css">
  	</head>

  <body>

    <div class="navbar navbar-text navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
         
          <a class="brand" href="#">Trivias</a>
          
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Inicio</a></li>
              <li><a href="">facebook</a></li>
              <li><a href="">partidas en juego</a></li>
            </ul>
            {% if user.is_anonymous %}
            <form class="navbar-form pull-right">
              <a href="/blog/registro" class="btn btn-primary">Registrate</a>
              <a href="/blog/login"  class="btn btn-primary">Login</a>
            </form>
            {%endif%}
            {% if not user.is_anonymous %}
            <form class="navbar-form pull-right">
              <a href="/blog/logout"  class="btn btn-primary">{{user}} LogOut</a>
            </form>
            {%endif%}
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">TriviarOnline</li>
              <li class="active"><a href="#">historial de partidas</a></li>
              <li><a href="#">Puntuacion de jugadores</a></li>
              <li><a href="#">Crear Partida</a></li>
              <li><a href="#">Denunciar abusos</a></li>
            </ul>
          </div>
        </div>
        <div class="span9">
          <div class="hero-unit">
            <h1>triviaOnline.bo</h1>
            contenido
            varias lineas de texto
          </div>
          {%block container%}

          {%endblock%}
        </div>  
      </div>
    <hr>
    </div>
	<footer>
    	<p><h8>&copy; copyrigth Sis-Uatf-SSS<h8></p>
    </footer>

</body>
</html>